/* JS manipulated styles */

.slide {
  display: none;
}

.slide.active {
  display: inline-block;
}

/* Appearance Styles */

.slider {
  margin: 0 auto;
}

@media (min-width: 1000px) {
  .slider {
    max-width: 1000px;
    margin: 0 auto;
  }
}
  .slides {
  }
    .frame{
    }
      .slide {
        box-sizing: border-box;
        width: 100%;
        padding-left: 2rem;
        font-size: 3rem;
        color: white;
      }

  body {
    margin: 0px;
    overflow: hidden;
    overflow-y: auto;
    background: aliceblue;
  }
  
  .scatter-circle {
    fill: #26d50f30;
    opacity: 0.9;
  }
  
  text {
    font-family: sans-serif;
  }
  
  .tick text {
    font-size: 1em;
    fill: #635F5D;
  }

  .tick-legend text {
    font-size: 0.3em;
    fill: #635F5D;
  }
  
  .tick line {
    stroke: #C0C0BB;
  }
  
  .axis-label {
    font-size: 2em;
    fill: #8E8883;
  }
  
  #menus {
    color: black;
    font-size: 0.5em;
    text-align: center;
  }
  
  #menus select {
    font-size: 1rem;
  }

  .line-path {
    fill: none;
    
    stroke-width: 5;
    stroke-linejoin: round;
    stroke-linecap: round;
    mix-blend-mode: multiply;
  }
  
  .title {
    font-size: 0.5em;
    fill: #635F5D;
  }

  .selected-year-line {
    stroke: black;
    stroke-width: 5;
  }

  .sphere {
    fill: #26d50f30;
  }
  
  .country {
    fill: #eee190;
    stroke: black;
    stroke-width: 0.05px;
  }
  
  .country:hover {
    fill: red;
  }

  p {
    color: black;
    margin: 0.3em;
    font-size: 0.5em;
    text-align: center;
    font-family: sans-serif;
  }

  .notes {
    font-size: 0.35em;
    text-align: left;
    color: #534e4e;
  }

  .buttons {
    float: right;
    margin-right: 1em;
  }

  .prev, .next {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    width: 100px;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform,opacity;
    z-index: 0;
  }
  
  .prev:hover, .next:hover {
    background: #F6F9FE;
    color: #174ea6;
  }
  
  .prev:active, .next:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
  }
  
  .prev:focus, .next:focus {
    outline: none;
    border: 2px solid #4285f4;
  }
  
  .prev:not(:disabled), .next:not(:disabled) {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }
  
  .prev:not(:disabled):hover, .next:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
  }
  
  .prev:not(:disabled):focus, .next:not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }
  
  .prev:not(:disabled):active, .next:not(:disabled):active {
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
  }
  
  .prev:disabled, .next:disabled {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }

  .annotation-note-title, text.title {
    font-weight: bold;
    font-size: 0.2em;
  }

  .annotation-note-label {
    font-size: 0.2em;
  }

  .panel {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 0.25em;
    color: black;
    padding-bottom: .5em;
  }
